/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----- */
*{
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  height: 628px;
  position: relative;
  background: #73C0D8;
}
.title{
  writing-mode: vertical-lr;
  color: #666666;
  width: 863.95px;
  border-bottom: 628px solid #ffffff;
  border-right: 540px solid transparent;
}
.titleEn{
  position: absolute;
  top: 320px;
  left: 35px;
  font-size: 51px;
}
.titleCn{
  position: absolute;
  top: 91px;
  left: 103px;
  font-size: 54px;
  letter-spacing: 20px;
}
.titleCn span{
  color: #73C0D8;
}
.main{
  position: absolute;
  top: 58px;
  left: 187px;
  width: 981px;
  height: 530px;
  box-shadow: 10px 10px 20px #00000029;
  border: 17px solid #333333 ;
  border-radius: 17px;
  z-index: 1;
  /*   background-color: #00cc99; */
}
.info{
  width: 253.73px;
  position: relative;
}
.infoTop{
  width: 253.73px;
  height: 91.91px;
  background-color: #73C0D8;
  z-index: 5;
  /*   position: relative; */
}
.todayCn{
  position: absolute;
  top: 7.5px;
  left: 9.43px;
  font-size: 28px;
  color: #ffffff;
}
.todayNum{
  position: absolute;
  top: 10.21px;
  right: 5.03px;
  font-size: 12px;
  color: #ffffff;
}
.id{
  position: absolute;
  top: 26.5px;
  right: 5.03px;
  font-size: 8px;
  color: #ffffff;
  white-space: nowrap;
}
.buyId {
  color: yellow;
  font-size: 12px;
}
select {
  background: #ffffff;
  height: 30px;
  bottom: 9px;
  border: none;
  border-radius: 20px;
}
.county {
  position: absolute;
  left: 7.5px;
  width: 110px;
  text-align: center;
  text-align-last: center;
}
.town {
  position: absolute;
  right: 7.5px;
  width: 110px;
  text-align: center;
  text-align-last: center;
}
/* .search{
position: absolute;
top: 51.84px;
left: 9.43px;
z-index: 10;
border: 1px solid #fff;
width: 240px;
height: 31px;
background: #FFFFFF;
border-radius: 20px;
} */
.infoList{
  height: 403.6px;
  background: #FFFFFF;
  color: #666666;
  overflow-y: auto;
  overflow-x: hidden;
}
.infoMenu li{
  position: relative;
  height: 121.01px;
  border-bottom: 1px solid #333333;
}
.infoMenu li h6{
  position: absolute;
  top: 6.43px;
  left: 11.78px;
}
.marker_icon{
  height: 26px;
  position: absolute;
  right: 9px;
  top: 6.43px;
}
.address{
  position: absolute;
  top: 29.63px;
  left: 11.78px;
  font-size: 12px;
}
.phone{
  position: absolute;
  top: 47.84px;
  left: 11.78px;
  font-size: 12px;
}
.openTime{
  position: absolute;
  top: 64.05px;
  left: 11.78px;
  font-size: 12px;
}
.adultMask{
  position: absolute;
  top: 90.31px;
  left: 11.78px;
  width: 112px;
  height: 25px;
  background: #73C0D8;
  color: #FFFFFF;
  border-radius: 20px;
  font-size: 10px;
  padding-left: 10px;
  padding-top: 6px;
}
.kidMask{
  position: absolute;
  top: 90.31px;
  right: 8px;
  width: 112px;
  height: 25px;
  background: #FFA573;
  color: #FFFFFF;
  border-radius: 20px;
  font-size: 10px;
  padding-left: 10px;
  padding-top: 6px;
}
.adultMaskNumber {
  position: absolute;
  right: 11.35px;
  top: 5px;
  font-size: 14px;
}
.kidMaskNumber {
  position: absolute;
  right: 11.35px;
  top: 5px;
  font-size: 14px;
}
#map { 
  position: absolute;
  width: 693.5px;
  height: 496px;
  top: 0;
  right: 0;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}